.main{
  margin: 0;
  padding: 0;
}

.display{
  height: 300px;
  background: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  margin: 0 15% 0 15%;
}

.container .img{
  padding: 10px;
}

.container .name p{
  display: inline;
  padding: 8%;
}

.container .img img{
  height: 150px;
  width: 24%;
  display: inline-block;
}
